* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #03001C;
}

/* navigation bar */
header {
    position: fixed;
    width: 100%;
    background-color: #03001C;
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    z-index: 1;
    border-bottom: 1px white solid;
}

header .logo {
    align-self: center;
    text-decoration: none;
    color: #5B8FB9;
    font-size: 2em;
    font-weight: 600;
    cursor: default;

    animation: fade-in-right 1s;
}

header .logo span {
    color: #B6EADA;
}

header div {
    width: auto;
    height: 10vh;
    line-height: 10vh;

    animation-name: fade-in-left;
    animation-duration: 1s;
    
}

header div a{
    display: inline-block;
    position: relative;
    padding: 0 50px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: #5B8FB9;
    transition: 0.3s;
    transition-timing-function: ease;
}

header div a:hover {
    color: #03001C;
    background-color: #B6EADA;
    transform: scale(1.1);
}

/* body */
section {
    min-height: 100vh;
    padding: 5rem 9%;
    display: flex;
}

/* home section */
.home-sec {
    justify-content: space-between;
    align-items: center;
    cursor: default;
    flex-wrap: wrap-reverse;
}

.home-content {
    min-width: 200px;
    width: 600px;
}

.home-sec h1 {
    color: #B6EADA;
    font-size: 5em;
    font-weight: 600;
    line-height: 1.6;
    opacity: 0;
    animation: fade-in-right 1s ease 0.2s;
    animation-fill-mode: forwards;
}

.home-sec h3 {
    color: #5B8FB9;
    font-size: 3em;
    margin-bottom: 15px;
    opacity: 0;
    animation: fade-in-right 1s ease 0.3s;
    animation-fill-mode: forwards;
}

.home-sec p {
    color: white;
    font-size: 1.3em;
    line-height: 1.6;
    opacity: 0;
    animation: fade-in-right 1s ease 0.4s;
    animation-fill-mode: forwards;
}

.home-img img{
    position: relative;
    border-radius: 30%;
    min-width: 200px;
    width: 500px;
    opacity: 0;

    animation: fade-in-left 1s ease 0.2s;
    animation-fill-mode: forwards;
}

/* about section */
.about-sec, .about-sec2 {
    display: flex;
    justify-content: space-between;
    gap: 9rem;
    align-items: center;
    cursor: default;
}

.about-sec {
    flex-wrap: wrap;
}

.about-sec2 {
    flex-wrap: wrap-reverse;
}

.about-content {
    width: 40vw;
}

.about-sec h1, .about-sec2 h1 {
    color: #5B8FB9;
    font-size: 4em;
    line-height: 1.5;
}

.about-sec p, .about-sec2 p {
    color: white;
    font-size: 1.8em;
    line-height: 1.6;
}

.about-img {
    display: flex;
    width: 20vw;
    flex-direction: column;
}

#csharp-img {
    animation-range-end: 70vh;
}

#cplusplus-img {
    animation-range-end: 60vh;
}

#html-logo {
    animation-range-end: 45vh;
}

#css-logo {
    animation-range-end: 30vh;
}

#cplusplus-img,
#css-logo {
    align-self: flex-end;
}

.about-sec img {
    width: 110px;
}

/* about section 2 */
.about-sec2 div.about-img img{
    width: 120px;
}

.about-sec2 div.about-img {
    gap: 10px;
}

#flipaclip-img,
#arduino-logo {
    align-self: flex-end;
}

#sfml-img {
    animation-range-end: 50vh;
}

#flipaclip-img {
    animation-range-end: 50vh;
}

#sticknodes-logo {
    animation-range-end: 40vh;
}

#arduino-logo {
    animation-range-end: 30vh;
}

/* projects section */
.projects-sec {
    justify-content: center;
    flex-direction: column;
}

.projects-sec h1{
    text-align: center;
    color: #B6EADA;
    font-size: 4em;
    margin-bottom: 2rem;
}

#projects-sec-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects-sec-div p {
    color: white;
    text-align: center;
    font-size: 1.1em;
    line-height: 2;
}

#projects-sec-div img {
    width: 300px;
}

.projects-img {
    width: 300px;
    height: 300px;
    align-self: flex-start;
    margin: 5vh;
}

.projects-img img {
    border-radius: 20%;
    transition: transform 0.5s;
}

.projects-img img:hover {
    transform: scale(1.2);
}

/* contact section */
.contact-sec {
    justify-content: center;
    min-height: 80vh;
}

.contact-sec div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.contact-sec h1 {
    color: #5B8FB9;
    text-align: center;
    font-size: 4em;
    line-height: 2;
}

.contact-sec p {
    color:#B6EADA;
    font-size: 1.3em;
    text-align: center;
    max-width: 600px;
}

.contact-sec div div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    max-width: fit-content;
    gap: 100px;
}

.contact-sec div div a{
    position: relative;
    text-decoration: none;
    background-color: #5B8FB9;
    color: #020011;
    padding: 1.5rem;
    border-radius: 20%;
    font-size: 1em;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.contact-sec div div a:hover {
    z-index: 1;
    background-color: #020011;
    color: #5B8FB9;
    scale: 1.2;
}

/* footer */
footer {
    background-color: #020011;
    display: flex;
}

footer div {
    margin: .8rem 2rem;
    display: flex;
    justify-content: space-between;
}

footer div a {
    font-size: 2em;
    color: #5B8FB9;
    padding: 0 1.5rem;
    transition: 0.2s;
}

footer div a:hover {
    color: white;
    transform: translateY(-2px);
}

/* animations */
.fade-in-right {
    opacity: 0;
    animation-name: fade-in-right;
    animation-timeline: view();
    animation-fill-mode: forwards;
}

.fade-in-left {
    opacity: 0;
    animation-name: fade-in-left;
    animation-timeline: view();
    animation-fill-mode: forwards;
}

.fade-in-bottom {
    opacity: 0;
    animation-name: fade-in-bottom;
    animation-timeline: view();
    animation-fill-mode: forwards;
    animation-range: entry 0;
    animation-timing-function: ease-out;
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(6rem);
    }

    to {
        opacity: 100;
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-6rem);
    }

    to {
        opacity: 100;
    }
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        scale: 0.3;
        transform: translateY(10rem);
    }

    to {
        opacity: 100;
    }  
}

/* responsive */
@media (max-width: 480px) {
    .nav-about a {
        padding: 0 5px;
        font-size: .8em;
    }

    /* home */
    .home-sec {
        justify-content: center;
    }

    .home-sec h1 {
        text-align: center;
        font-size: 3em;
    }
    
    .home-sec h3 {
        text-align: center;
        font-size: 2em;
    }
    
    .home-sec p {
        text-align: center;
        font-size: 1em;
    }

    .home-img {
        display: flex;
    }

    .home-img img {
        width: 200px;
    }

    /* about */
    .about-sec,
    .about-sec2 {
        justify-content: center;
    }

    .about-content,
    .about-img {
        width: 300px;
    }

    .about-sec h1,
    .about-sec2 h1 {
        text-align: center;
        font-size: 3em;
    }

    .about-sec p,
    .about-sec2 p {
        text-align: center;
        font-size: 1.3em;
    }

    /* projects */
    #projects-sec-div {
        justify-content: center;
    }

    /* contacts */
    .contact-sec h1 {
        font-size: 2.3em;
    }

    .contact-sec p {
        font-size: 1em;
    }

    .contact-sec div div {
        justify-content: center;
        gap: 50px;
        margin: 1rem;
    }

    .contact-sec div div a {
        text-align: center;
        padding: 1rem;
        font-size: 0.8em;
        min-width: 90px;
    }
}